@import './modules/_header.scss';
@import './modules/_about.scss';
@import './modules/_buttons.scss';

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    overflow: hidden;
}

nav ul li{
    list-style-type: none;
    list-style: none;

    a{
        text-decoration: none;
    }
}

.aboutContent .aboubtTitle{
    display: flex;
    justify-content: flex-end;
    p
    {
        font-family: 'Rubik', sans-serif;
        font-size: 100px;
    }
}




